@model LogonViewModel

@{
    ViewBag.Title = "Log On";
}

<div id="infotitel">
    Login Failed
</div>
<div id="infobody">
    <div id="informational">
        <h3>Your attempt at logging in failed</h3>
        Check your username and passward and try again.
    </div>
</div>
